@charset "utf-8";
body {
  background: #f6f6f6;
}
section h2 {
  font-size: 0.9rem;
  font-weight: bold;
}
section p {
  font-size: 0.6rem;
}
.line {
  height: 0.075rem;
  background: #43a4ff;
}
.section2 {
  padding: 1rem;
}
.section2 .card_content label {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  font-family: cn_lighr;
  margin-bottom: 0.5rem;
}
.section2 .card_content .text_box {
  float: left;
}
.section2 .card_content .text_box select {
  margin: 0;
  width: 3.75;
  height: 1.4rem;
  font-size: 0.5rem;
  margin-left: 0.5rem;
  border: 0.025rem solid #d2d2d2;
  outline: none;
}
.section2 .search {
  text-align: center;
  margin: 1rem auto;
}
.section2 .search a {
  display: block;
  width: 6rem;
  height: 1.4rem;
  background: #ffb700;
  line-height: 1.65rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  margin: 0 auto;
  border-radius: 0.3rem;
}
.section3 #l-map {
  width: 100%;
  height: 16rem;
  overflow: hidden;
  margin: 0;
  font-family: "微软雅黑";
}
