@charset "utf-8";
body {
    background: #f6f6f6;
}
section {
    h2 {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    p {
        font-size: 0.6rem;
    }
}
//乐盟概述
.section2 {
    padding: 1rem 0.5rem;
    >p {
        font-size: 0.8rem;
        color: #fff;
        width: 5rem;
        height: 1.5rem;
        background: #318cf5;
        text-align: center;
        line-height: 1.5rem;
    }
    .s2_box {
        ul {
            padding-left: 1rem;
            margin-left: 0.5rem;
            border-left: 0.025rem solid #d2d2d2;
            min-height: 10rem;
            li {
                position: relative;
                margin-bottom: 1.5rem;
                i {
                    width: 0.8rem;
                    height: 0.8rem;
                    position: absolute;
                    left: -1.4rem;
                    img {
                        max-width: 0.8rem;
                    }
                }
                h5{
                    color: #1899f0;
                    font-size: 0.7rem;
                    margin-bottom: 0.5rem;
                }
                .answer{
                    font-family: CN_light;
                    font-size: 0.55rem;
                    p.need{
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}