@charset "utf-8";
body {
  background: #f6f6f6;
}
section {
  text-align: center;
}
section h2 {
  font-size: 0.9rem;
  font-weight: bold;
}
section p {
  font-size: 0.6rem;
}
.section2 {
  padding: 1.5rem 0.5rem;
}
.section2 h2 {
  margin-bottom: 0.5rem;
}
.section2 .s2_box {
  margin-top: 1rem;
}
.section3 {
  padding: 1.5rem 0.5rem 0.5rem;
  background: #fff;
}
.section3 h2 {
  margin-bottom: 0.5rem;
}
.section3 .s3_box {
  text-align: left;
  margin-top: 1.5rem;
}
.section3 .s3_box .ld_box {
  width: 50%;
  float: left;
}
.section3 .s3_box .ld_box img {
  float: left;
  width: 1.26rem;
  height: 1.26rem;
}
.section3 .s3_box .ld_box .text {
  margin-bottom: 0.6rem;
  margin-left: 0.5rem;
  float: left;
  width: 5rem;
}
.section3 .s3_box .ld_box .text p {
  font-size: 0.6rem;
}
.section4 {
  padding: 1.5rem 0.5rem 0.5rem;
}
.section4 h2 {
  margin-bottom: 0.5rem;
}
.section4 .s4_box {
  padding-top: 1rem;
}
.section4 .s4_box .sub_box {
  background: #fff;
  margin-top: 0.5rem;
}
.section4 .s4_box .sub_box img {
  float: left;
  width: 2.5rem;
  height: 2.5rem;
}
.section4 .s4_box .sub_box .text {
  width: 13rem;
  margin-left: 0.7rem;
  float: left;
  text-align: left;
  padding-top: 0.5rem;
  box-sizing: border-box;
}
.section4 .s4_box .sub_box .text2 {
  text-align: right;
  margin-left: 0;
  margin-right: 0.7rem;
}
.section5 {
  padding: 1rem 0.5rem;
}
.section5 h2 {
  margin-bottom: 0.5rem;
}
.section5 .join {
  padding: 1.2rem 0;
  text-align: center;
  margin: 0 auto;
}
.section5 .join a {
  display: block;
  width: 5.5rem;
  height: 1.65rem;
  background: #2E71F7;
  line-height: 1.65rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  margin: 0 auto;
}
